<div class="login-register container-fluid">
  <div id="box-regist" class="login-box">
    <div class="panal-box">
      <form
        *ngIf="!isLoggedIn"
        name="form"
        class="form-horizontal form-material"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <img src="/assets/images/vpm_logo-log.png" class="logo" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-xs-12 px-2 py-3">
              <input
                type="text"
                class="form-control"
                name="user_name"
                [(ngModel)]="form.user_name"
                #user_name="ngModel"
                placeholder="Username"
                [ngClass]="{ 'is-invalid': f.submitted && user_name.errors }"
                required
              />
              <div
                class="error invalid-feedback"
                *ngIf="user_name.errors && f.submitted"
              >
                <p class="error" ng-show="user_name.errors['required']">
                  'Username' is mandatory
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-xs-12 px-2">
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                placeholder="Password"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                required
              />
              <div
                *ngIf="password.errors && f.submitted"
                class="invalid-feedback error"
              >
                <div *ngIf="password.errors['required']">
                  'Password' is mandatory
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Forgot & Reset password and Remember me -->
        <!-- <div class="form-group">
        <div class="col-md-12">
          <div class="checkbox checkbox-primary pull-left p-t-0">
            <input id="checkbox-signup" type="checkbox">
            <label for="checkbox-signup"> Remember me </label>
          </div>
          <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5">
          </i> Forgot pwd?</a>
        </div>
      </div>-->
        <div
          style="margin-top: 10px"
          class="form-group text-center m-t-20 m-b-10"
        >
          <div class="col-xs-12">
            <!-- Button -->
            <div class="col-sm-12 d-grid controls">
              <button
                type="submit"
                id="btn-login"
                class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light text-white"
                value="Log in"
              >
                Log in
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-center">
            <p
              *ngIf="f.submitted && isLoginFailed"
              class="error danger txt-inc"
              style="color: #ce4844; width: 100%"
            >
              The password you entered is incorrect. Please try again.
            </p>
          </div>
        </div>
      </form>

      <!--Forgot & Reset password -->
      <!-- <form class="form-horizontal" id="recoverform" action="index.html">
      <div class="form-group ">
        <div class="col-xs-12">
          <h3>Recover Password</h3>
          <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
        </div>
      </div>
      <div class="form-group ">
        <div class="col-xs-12">
          <input class="form-control" type="text" required="" placeholder="Email">
        </div>
      </div>
      <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
          <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
        </div>
      </div>
    </form> -->
    </div>
  </div>
</div>
