.form-horizontal .form-group {
  margin-right: -7.5px;
  margin-bottom: 25px;
  margin-left: -7.5px;
}

.form-group {
  margin-bottom: 25px;
}

/* Material inputs */
.form-material .form-group {
  overflow: hidden;
}

.form-material .form-control {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center bottom, center calc(99%);
  background-size: 0 2px, 100% 1px;
  transition: background 0s ease-out 0s;
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
  float: none;
  background-image:
    linear-gradient(#9675ce, #9675ce),
    linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
}

.form-material .form-control.focus,
.form-material .form-control:focus {
  background-size: 100% 2px, 100% 1px;
  outline: 0 none;
  transition-duration: .3s;
}
