<ng-container
  [ngTemplateOutlet]="menuListTpl"
  [ngTemplateOutletContext]="{ menuList: menu$ | async, parentRoute: [], level: 0 }"
>
</ng-container>

<ng-template #menuListTpl let-menuList="menuList" let-parentRoute="parentRoute" let-level="level">
  <ul
    navAccordion
    class="matero-sidemenu {{ level > 0 ? 'matero-sidemenu-sub' : '' }} level-{{ level }}"
  >
    <ng-container *ngFor="let menuItem of menuList">
      <ng-template
        [ngxPermissionsOnly]="menuItem.permissions?.only"
        [ngxPermissionsExcept]="menuItem.permissions?.except"
      >
        <li
          navAccordionItem
          class="matero-sidemenu-item"
          routerLinkActive="active"
          [group]="menuItem.route"
          [type]="menuItem.type"
        >
          <a
            class="matero-sidemenu-link"
            [routerLink]="buildRoute(parentRoute.concat([menuItem.route]))"
            *ngIf="menuItem.type === 'link'"
            matRipple
            [matRippleDisabled]="!ripple"
          >
            <ng-container
              [ngTemplateOutlet]="linkTypeTpl"
              [ngTemplateOutletContext]="{ item: menuItem, level: level }"
            >
            </ng-container>
          </a>

          <a
            class="matero-sidemenu-link"
            [href]="menuItem.route"
            *ngIf="menuItem.type === 'extLink'"
            matRipple
            [matRippleDisabled]="!ripple"
          >
            <ng-container
              [ngTemplateOutlet]="linkTypeTpl"
              [ngTemplateOutletContext]="{ item: menuItem, level: level }"
            >
            </ng-container>
          </a>

          <a
            class="matero-sidemenu-link"
            [href]="menuItem.route"
            target="_blank"
            *ngIf="menuItem.type === 'extTabLink'"
            matRipple
            [matRippleDisabled]="!ripple"
          >
            <ng-container
              [ngTemplateOutlet]="linkTypeTpl"
              [ngTemplateOutletContext]="{ item: menuItem, level: level }"
            >
            </ng-container>
          </a>

          <a
            navAccordionToggle
            class="matero-sidemenu-toggle"
            *ngIf="menuItem.type === 'sub'"
            matRipple
            [matRippleDisabled]="!ripple"
          >
            <ng-container
              [ngTemplateOutlet]="linkTypeTpl"
              [ngTemplateOutletContext]="{ item: menuItem, level: level }"
            >
            </ng-container>
          </a>

          <ng-container
            [ngTemplateOutlet]="menuListTpl"
            [ngTemplateOutletContext]="{
              menuList: menuItem.children,
              parentRoute: parentRoute.concat([menuItem.route]),
              level: level + 1
            }"
          >
          </ng-container>
        </li>
      </ng-template>
    </ng-container>
    <li
      navaccordionitem=""
      routerlinkactive="active"
      class="matero-sidemenu-item ng-star-inserted"
      ng-reflect-router-link-active="active"
      ng-reflect-group="auth/logout"
      ng-reflect-type="link"
    >
      <a
        matripple=""
        class="mat-ripple matero-sidemenu-link ng-star-inserted"
        ng-reflect-disabled="false"
        style="flex-direction: row; box-sizing: border-box; display: flex"
        (click)="logout()"
      >
        <mat-icon
          role="img"
          class="mat-icon notranslate menu-icon material-icons mat-icon-no-color ng-star-inserted"
          aria-hidden="true"
          data-mat-icon-type="font"
          >logout</mat-icon
        >
        <span class="menu-name ng-star-inserted">{{ 'menu.logout' | translate }}</span>
        <span
          fxflex=""
          ng-reflect-fx-flex=""
          class="ng-star-inserted"
          style="flex: 1 1 0%; box-sizing: border-box"
        ></span>
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #linkTypeTpl let-item="item" let-level="level">
  <i
    class="mat-icon menu-icon material-icons mat-icon-no-color"
    [class]="item.icon"
    *ngIf="level === 0"
  ></i>
  <span class="menu-name">{{ item.name | translate }}</span>
  <span class="menu-label bg-{{ item.label.color }}" *ngIf="item.label">
    {{ item.label.value }}
  </span>
  <span fxFlex></span>
  <span class="menu-badge bg-{{ item.badge.color }}" *ngIf="item.badge">
    {{ item.badge.value }}
  </span>
  <mat-icon class="menu-caret" *ngIf="item.type !== 'link'">
    {{ item.type === 'sub' ? 'arrow_drop_down' : 'launch' }}
  </mat-icon>
</ng-template>
